/* CSS Global */
body {
  margin: 0;
  padding: 0;
  background-color: #faf5ff; /* bg-purple-50 fallback */
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utilitários de scrollbar caso o Tailwind não carregue */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
